.boton-capturar {
    display: flex;
    width: fit-content;
    height: 3rem;
    padding: 1rem;
    border-radius: 10rem;
    border: 1px solid var(--black);
    box-shadow: none;
    font-size: 1rem;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    background-color: var(--white);
    color: var(--black);
    font-weight: 600;
}

.capturado{
    background-color: rgb(187, 250, 195);
    color: black;
    font-weight: 600;
    border: none;
}

.capturado .pokeball-captura {
    width: 2rem;
}