.tarjeta {
    height: auto;
    padding: 2rem 2rem 0 2rem;
}

.tarjeta .pokemon {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex: 1;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    height: auto;
}

.nav-principal {
    bottom: 1rem;
    position: sticky;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
    padding: 1rem;
    border-radius: 2rem;
    box-shadow: #00000085 0rem -1rem 4rem;
}

.scroll-loading {
    padding: 1rem;
    font-family: var(--font-text);
    color: var(--text-h);
}

.scroll-loading .pokeball-loading {
    width: 4rem;
    animation: rotar 1s linear infinite;
}

@keyframes rotar {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}