.tarjeta {
    height: auto;
    padding: 2rem;
}

.tarjeta .pokemon {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex: 1;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    height: auto;
}

.pagination {
    bottom: 0;
    position: sticky;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
    padding: 1rem;
    border-radius: 8px;
}

.regiones{
    margin: 2rem 0;
}