.stats-pokemon {
    display: flex;
    flex-direction: column;
    background-color: #141414;
    border-radius: 1rem;
    padding: 1rem;
    flex: 1;
    gap: 0.5rem;
}

.stats-pokemon h2{
    font-family: var(--font-heading);
    text-align: left;
    color: var(--white);
    font-size: 1.25rem;
}

.stats-pokemon .stat-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    justify-content: center;
    padding: 0;
}

.stats-pokemon .stat {
    font-family: var(--font-text);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 49%;
    justify-content: center;
    background-color: rgb(8, 8, 8);
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
}

.stats-pokemon .stat span {
    font-size: 0.75rem;
}

.stats-pokemon .stat span,
.stats-pokemon .stat strong {
    color: #fff;
    width: 100%;
    flex: 1;
    text-align: left;
}